@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: inline-block;
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3); 
    margin: auto;
}


body {
    background-color: #4285f4;
    margin: 0px;
    padding: 0px;
    margin: 0px auto;
    box-sizing: border-box;
    text-align: center;
}

header h1 {
    color: white;
    margin-top: 10px;
}

fieldset {
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 15px;
    border: 1px solid #ccc;
}

.linha {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.linha label {
    min-width: 200px;
    font-weight: bold;
}

.linha input, .linha select {
    padding: 5px;
    flex: 1;
}

.geral {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}

.geral label {
    font-weight: bold;
    min-width: 120px; 
}

button[type="button"] {
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #1b65db;
}

footer p {
    color: white;
    margin-top: 20px;
}

select{
    font-size: medium;
    text-align: center;
}

input {
    width: 50px;
    text-align: center;
    font-size: medium;
}

input::placeholder {
    font-size: small;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.content{
    margin-top: 20px;
}

table {
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 100%;
}

table th{
    background-color: orange;
    font-style: italic;
    
}

table th, td{
    padding: 1px 5px;
}