@charset "UTF-8";

main {
    display: inline-block;
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3); 
    margin: auto;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4285f4;
    color: #000;
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

header h1 {
    color: white;
    margin-top: 10px;
}

fieldset {
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 15px;
    border: 1px solid #ccc;
}

.linha {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.linha label {
    min-width: 200px;
    font-weight: bold;
}

.linha input, .linha select {
    padding: 5px;
    flex: 1;
}

.geral {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}

.geral label {
    font-weight: bold;
    min-width: 120px;
}

input[type="submit"] {
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

footer p {
    color: white;
    margin-top: 20px;
}

select{
    font-size: medium;
    text-align: center;
}